@font-face {
  font-family: ChelseaMarket;
  src: url(./ChelseaMarket-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(./RobotoMono-VariableFont_wght.ttf);
}

body {
  font-family: RobotoMono;
}

section {
  margin: 0 auto; /* üst alt = 0, sağ sol = auto */
  width: 80%;
}

nav {
  /* display: block; nav zaten block olduğu için yazmana gerek yok */

  width: 100%;
  text-align: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}

nav a {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  color: white;
  text-decoration: none; /* linkten dolayı gelen alt çizgiyi siler */
  padding: 1rem 2rem; /* üst sağ alt sol */
  /*margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 10px;*/ /*margin verince ekrana çakılı oluyor. float vermek daha iyi*/
}

a:first-child {
  background: #ff764e;
  border: 1px solid #ff764e;
  float: left;
}

a:nth-child(2) {
  background: #5ed3eb;
  border: 1px solid #5ed3eb;
}

a:last-child {
  background: #ffcd69;
  border: 1px solid #ffcd69;
  float: right;
}

#head-title {
  margin-top: 4rem;
  display: block;
  max-width: 1300px;
}

#head-title img {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
  aspect-ratio: 1/1;
  width: 300px;
  object-fit: cover;
  object-position: left;
}

#title {
  display: inline-block;
  text-align: center;
  width: auto;
  box-sizing: border-box;
  padding: 8vw;
  line-height: 2;
  vertical-align: top;
}

h1 {
  font-family: ChelseaMarket;
  font-size: 2em;
  font-weight: bold;
}

#intro {
  background: #ddb9a3;
  color: white;
  line-height: 1.4;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 30px;
}

#intro p {
  padding: 20px;
}

.content {
  margin-bottom: 130px;
}

.content img {
  display: block;
  width: 7em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

.bold {
  font-weight: bold;
}

.content p {
  padding-left: 28vw;
  padding-right: 28vw;
  line-height: 1.4;
  text-align: center;
}

.ATV {
  margin-top: 30px;
}

footer img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top; /* yüzde değil top da yazabiliyoruz */
}

footer {
  background: #f9e7dc;
}

a:first-child:hover {
  background: white;
  color: #ff764e;
}

a:nth-child(2):hover {
  background: white;
  color: #5ed3eb;
}

a:last-child:hover {
  background: white;
  color: #ffcd69;
}
